// Generated by swift-openapi-generator, do not modify.
@_spi(Generated) import OpenAPIRuntime
#if os(Linux)
@preconcurrency import struct Foundation.URL
@preconcurrency import struct Foundation.Data
@preconcurrency import struct Foundation.Date
#else
import struct Foundation.URL
import struct Foundation.Data
import struct Foundation.Date
#endif
import HTTPTypes
/// **AIQ API** - A backend service for AI-generated cognitive assessments.
///
/// This API provides:
/// * User authentication and profile management
/// * Periodic cognitive testing with AI-generated questions
/// * Test session management and response submission
/// * Historical test results and trend analysis
///
/// ## Authentication
///
/// Most endpoints require authentication using JWT Bearer tokens. Obtain tokens via the `/v1/auth/login` endpoint.
///
/// ## Testing Cadence
///
/// Users are recommended to take tests every 3 months for optimal cognitive tracking.
public struct Client: APIProtocol {
    /// The underlying HTTP client.
    private let client: UniversalClient
    /// Creates a new client.
    /// - Parameters:
    ///   - serverURL: The server URL that the client connects to. Any server
    ///   URLs defined in the OpenAPI document are available as static methods
    ///   on the ``Servers`` type.
    ///   - configuration: A set of configuration values for the client.
    ///   - transport: A transport that performs HTTP operations.
    ///   - middlewares: A list of middlewares to call before the transport.
    public init(
        serverURL: Foundation.URL,
        configuration: Configuration = .init(),
        transport: any ClientTransport,
        middlewares: [any ClientMiddleware] = []
    ) {
        self.client = .init(
            serverURL: serverURL,
            configuration: configuration,
            transport: transport,
            middlewares: middlewares
        )
    }
    private var converter: Converter {
        client.converter
    }
    /// Root
    ///
    /// Root endpoint.
    ///
    /// - Remark: HTTP `GET /`.
    /// - Remark: Generated from `#/paths///get(root__get)`.
    public func rootGet(_ input: Operations.RootGet.Input) async throws -> Operations.RootGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.RootGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.RootGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIValueContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Factor Analysis
    ///
    /// Perform factor analysis to calculate empirical g-loadings per domain.
    ///
    /// This endpoint runs a factor analysis on all completed test sessions to
    /// determine how strongly each cognitive domain correlates with general
    /// intelligence (g). Results can be used to inform weighted scoring.
    ///
    /// **Requirements:**
    /// - Minimum 500 completed test sessions
    /// - Questions must have at least min_responses_per_question responses
    ///
    /// **Returns:**
    /// - g_loadings: Correlation of each domain with the g-factor (0-1)
    /// - variance_explained: How much variance the g-factor explains
    /// - reliability: Cronbach's alpha for internal consistency
    /// - recommendations: Actionable insights based on the results
    ///
    /// **Interpretation:**
    /// - Higher g-loadings indicate stronger correlation with general intelligence
    /// - Variance explained > 40% suggests a strong general factor
    /// - Cronbach's alpha >= 0.7 indicates acceptable reliability
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// - Remark: HTTP `GET /v1/admin/analytics/factor-analysis`.
    /// - Remark: Generated from `#/paths//v1/admin/analytics/factor-analysis/get(get_factor_analysis_v1_admin_analytics_factor_analysis_get)`.
    public func getFactorAnalysisV1AdminAnalyticsFactorAnalysisGet(_ input: Operations.GetFactorAnalysisV1AdminAnalyticsFactorAnalysisGet.Input) async throws -> Operations.GetFactorAnalysisV1AdminAnalyticsFactorAnalysisGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetFactorAnalysisV1AdminAnalyticsFactorAnalysisGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/analytics/factor-analysis",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "min_responses_per_question",
                    value: input.query.minResponsesPerQuestion
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "max_responses",
                    value: input.query.maxResponses
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetFactorAnalysisV1AdminAnalyticsFactorAnalysisGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.FactorAnalysisResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 400:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetFactorAnalysisV1AdminAnalyticsFactorAnalysisGet.Output.BadRequest.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.InsufficientSampleResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .badRequest(.init(body: body))
                case 401:
                    return .unauthorized(.init())
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetFactorAnalysisV1AdminAnalyticsFactorAnalysisGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Response Time Analytics
    ///
    /// Get aggregate response time analytics across all completed test sessions.
    ///
    /// Returns comprehensive timing statistics including overall test duration,
    /// breakdown by difficulty level and question type, and a summary of
    /// timing anomalies (rapid responses, extended times, validity concerns).
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// **Overall Statistics:**
    /// - Mean and median total test duration in seconds
    /// - Mean time per question across all responses
    ///
    /// **By Difficulty:**
    /// - Mean and median response time for easy, medium, and hard questions
    ///
    /// **By Question Type:**
    /// - Mean response time for each question type (pattern, logic, spatial, math, verbal, memory)
    ///
    /// **Anomaly Summary:**
    /// - Count of sessions with rapid responses (< 3 seconds per question)
    /// - Count of sessions with extended response times (> 5 minutes per question)
    /// - Percentage of sessions flagged with validity concerns
    ///
    /// Args:
    ///     db: Database session
    ///     _: Admin token validation dependency
    ///
    /// Returns:
    ///     ResponseTimeAnalyticsResponse with aggregate timing statistics
    ///
    /// Example:
    ///     ```
    ///     curl "https://api.example.com/v1/admin/analytics/response-times" \
    ///       -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `GET /v1/admin/analytics/response-times`.
    /// - Remark: Generated from `#/paths//v1/admin/analytics/response-times/get(get_response_time_analytics_v1_admin_analytics_response_times_get)`.
    public func getResponseTimeAnalyticsV1AdminAnalyticsResponseTimesGet(_ input: Operations.GetResponseTimeAnalyticsV1AdminAnalyticsResponseTimesGet.Input) async throws -> Operations.GetResponseTimeAnalyticsV1AdminAnalyticsResponseTimesGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetResponseTimeAnalyticsV1AdminAnalyticsResponseTimesGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/analytics/response-times",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetResponseTimeAnalyticsV1AdminAnalyticsResponseTimesGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.ResponseTimeAnalyticsResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetResponseTimeAnalyticsV1AdminAnalyticsResponseTimesGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Detailed Response Time Analytics
    ///
    /// Get detailed response time percentile distributions by question type and difficulty.
    ///
    /// Returns privacy-preserving aggregate statistics (no individual user tracking)
    /// including median (p50), p90, and p95 percentiles for each combination of
    /// question type and difficulty level. Use this data to validate whether current
    /// time limits are appropriate for each question category.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// **By Type and Difficulty:**
    /// - Percentile stats for each (question_type, difficulty_level) combination
    ///
    /// **By Type:**
    /// - Percentile stats aggregated by question type across all difficulties
    ///
    /// **By Difficulty:**
    /// - Percentile stats aggregated by difficulty level across all types
    ///
    /// **Overall:**
    /// - Percentile stats across all response times
    ///
    /// - Remark: HTTP `GET /v1/admin/analytics/response-times/detailed`.
    /// - Remark: Generated from `#/paths//v1/admin/analytics/response-times/detailed/get(get_detailed_response_time_analytics_v1_admin_analytics_response_times_detailed_get)`.
    public func getDetailedResponseTimeAnalyticsV1AdminAnalyticsResponseTimesDetailedGet(_ input: Operations.GetDetailedResponseTimeAnalyticsV1AdminAnalyticsResponseTimesDetailedGet.Input) async throws -> Operations.GetDetailedResponseTimeAnalyticsV1AdminAnalyticsResponseTimesDetailedGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetDetailedResponseTimeAnalyticsV1AdminAnalyticsResponseTimesDetailedGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/analytics/response-times/detailed",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetDetailedResponseTimeAnalyticsV1AdminAnalyticsResponseTimesDetailedGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.DetailedResponseTimeAnalyticsResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetDetailedResponseTimeAnalyticsV1AdminAnalyticsResponseTimesDetailedGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// List Anchor Items
    ///
    /// List all designated anchor items with domain summaries.
    ///
    /// Returns anchor items grouped by domain with summary statistics including
    /// difficulty distribution and average discrimination per domain.
    ///
    /// Requires X-Admin-Token header.
    ///
    /// - Remark: HTTP `GET /v1/admin/anchor-items`.
    /// - Remark: Generated from `#/paths//v1/admin/anchor-items/get(list_anchor_items_v1_admin_anchor_items_get)`.
    public func listAnchorItemsV1AdminAnchorItemsGet(_ input: Operations.ListAnchorItemsV1AdminAnchorItemsGet.Input) async throws -> Operations.ListAnchorItemsV1AdminAnchorItemsGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.ListAnchorItemsV1AdminAnchorItemsGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/anchor-items",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "domain",
                    value: input.query.domain
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ListAnchorItemsV1AdminAnchorItemsGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.AnchorItemsListResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ListAnchorItemsV1AdminAnchorItemsGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Auto Select Anchors
    ///
    /// Auto-select anchor items based on discrimination criteria.
    ///
    /// Clears existing anchors, then selects the best candidates for each
    /// domain x difficulty combination. For each slot, eligible questions
    /// (active, normal quality, discrimination >= threshold) are ordered by
    /// discrimination DESC and the top candidates are selected.
    ///
    /// Requires X-Admin-Token header.
    ///
    /// - Remark: HTTP `POST /v1/admin/anchor-items/auto-select`.
    /// - Remark: Generated from `#/paths//v1/admin/anchor-items/auto-select/post(auto_select_anchors_v1_admin_anchor_items_auto_select_post)`.
    public func autoSelectAnchorsV1AdminAnchorItemsAutoSelectPost(_ input: Operations.AutoSelectAnchorsV1AdminAnchorItemsAutoSelectPost.Input) async throws -> Operations.AutoSelectAnchorsV1AdminAnchorItemsAutoSelectPost.Output {
        try await client.send(
            input: input,
            forOperation: Operations.AutoSelectAnchorsV1AdminAnchorItemsAutoSelectPost.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/anchor-items/auto-select",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "dry_run",
                    value: input.query.dryRun
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "min_discrimination",
                    value: input.query.minDiscrimination
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.AutoSelectAnchorsV1AdminAnchorItemsAutoSelectPost.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.AnchorAutoSelectResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.AutoSelectAnchorsV1AdminAnchorItemsAutoSelectPost.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// List Background Jobs
    ///
    /// List all registered background jobs.
    ///
    /// Returns a list of all jobs registered in the process registry,
    /// optionally filtered by job type and/or status.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Args:
    ///     job_type: Optional filter by job type
    ///     status: Optional filter by status
    ///     include_finished: Whether to include finished jobs
    ///     _: Admin token validation dependency
    ///
    /// Returns:
    ///     BackgroundJobListResponse with list of jobs and counts
    ///
    /// Example:
    ///     ```
    ///     # List all running jobs
    ///     curl "https://api.example.com/v1/admin/background-jobs?status=running"           -H "X-Admin-Token: your-admin-token"
    ///
    ///     # List only question generation jobs
    ///     curl "https://api.example.com/v1/admin/background-jobs?job_type=question_generation"           -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `GET /v1/admin/background-jobs`.
    /// - Remark: Generated from `#/paths//v1/admin/background-jobs/get(list_background_jobs_v1_admin_background_jobs_get)`.
    public func listBackgroundJobsV1AdminBackgroundJobsGet(_ input: Operations.ListBackgroundJobsV1AdminBackgroundJobsGet.Input) async throws -> Operations.ListBackgroundJobsV1AdminBackgroundJobsGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.ListBackgroundJobsV1AdminBackgroundJobsGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/background-jobs",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "job_type",
                    value: input.query.jobType
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "status",
                    value: input.query.status
                )
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "include_finished",
                    value: input.query.includeFinished
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ListBackgroundJobsV1AdminBackgroundJobsGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.BackgroundJobListResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.ListBackgroundJobsV1AdminBackgroundJobsGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Cleanup Finished Jobs
    ///
    /// Remove finished jobs from the registry.
    ///
    /// This endpoint triggers cleanup of all completed, failed, and terminated
    /// jobs from the registry. This is useful for freeing memory and keeping
    /// the job list manageable.
    ///
    /// Note: Cleanup also happens automatically when the server shuts down.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Returns:
    ///     Number of jobs cleaned up
    ///
    /// Example:
    ///     ```
    ///     curl -X POST "https://api.example.com/v1/admin/background-jobs/cleanup"           -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `POST /v1/admin/background-jobs/cleanup`.
    /// - Remark: Generated from `#/paths//v1/admin/background-jobs/cleanup/post(cleanup_finished_jobs_v1_admin_background_jobs_cleanup_post)`.
    public func cleanupFinishedJobsV1AdminBackgroundJobsCleanupPost(_ input: Operations.CleanupFinishedJobsV1AdminBackgroundJobsCleanupPost.Input) async throws -> Operations.CleanupFinishedJobsV1AdminBackgroundJobsCleanupPost.Output {
        try await client.send(
            input: input,
            forOperation: Operations.CleanupFinishedJobsV1AdminBackgroundJobsCleanupPost.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/background-jobs/cleanup",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.CleanupFinishedJobsV1AdminBackgroundJobsCleanupPost.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIValueContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.CleanupFinishedJobsV1AdminBackgroundJobsCleanupPost.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Background Job Stats
    ///
    /// Get statistics about registered background jobs.
    ///
    /// Returns counts of jobs by status (running, completed, failed, terminated).
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Returns:
    ///     BackgroundJobStatsResponse with job counts
    ///
    /// Example:
    ///     ```
    ///     curl "https://api.example.com/v1/admin/background-jobs/stats"           -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `GET /v1/admin/background-jobs/stats`.
    /// - Remark: Generated from `#/paths//v1/admin/background-jobs/stats/get(get_background_job_stats_v1_admin_background_jobs_stats_get)`.
    public func getBackgroundJobStatsV1AdminBackgroundJobsStatsGet(_ input: Operations.GetBackgroundJobStatsV1AdminBackgroundJobsStatsGet.Input) async throws -> Operations.GetBackgroundJobStatsV1AdminBackgroundJobsStatsGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetBackgroundJobStatsV1AdminBackgroundJobsStatsGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/background-jobs/stats",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetBackgroundJobStatsV1AdminBackgroundJobsStatsGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.BackgroundJobStatsResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetBackgroundJobStatsV1AdminBackgroundJobsStatsGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Background Job
    ///
    /// Get detailed information about a specific background job.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Args:
    ///     job_id: The unique job ID from the registry
    ///     _: Admin token validation dependency
    ///
    /// Returns:
    ///     BackgroundJobResponse with job details
    ///
    /// Raises:
    ///     HTTPException 404: If the job is not found
    ///
    /// Example:
    ///     ```
    ///     curl "https://api.example.com/v1/admin/background-jobs/question_generation_20241221120000_1_12345"           -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `GET /v1/admin/background-jobs/{job_id}`.
    /// - Remark: Generated from `#/paths//v1/admin/background-jobs/{job_id}/get(get_background_job_v1_admin_background_jobs__job_id__get)`.
    public func getBackgroundJobV1AdminBackgroundJobsJobIdGet(_ input: Operations.GetBackgroundJobV1AdminBackgroundJobsJobIdGet.Input) async throws -> Operations.GetBackgroundJobV1AdminBackgroundJobsJobIdGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetBackgroundJobV1AdminBackgroundJobsJobIdGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/background-jobs/{}",
                    parameters: [
                        input.path.jobId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetBackgroundJobV1AdminBackgroundJobsJobIdGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.BackgroundJobResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetBackgroundJobV1AdminBackgroundJobsJobIdGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Terminate Background Job
    ///
    /// Terminate a running background job.
    ///
    /// Sends SIGTERM (or SIGKILL if force=True) to the process.
    /// This is useful for stopping runaway or stuck jobs.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Args:
    ///     job_id: The unique job ID from the registry
    ///     force: If True, use SIGKILL instead of SIGTERM
    ///     _: Admin token validation dependency
    ///
    /// Returns:
    ///     Termination status
    ///
    /// Raises:
    ///     HTTPException 404: If the job is not found
    ///     HTTPException 400: If the job is not running
    ///
    /// Example:
    ///     ```
    ///     # Graceful termination
    ///     curl -X DELETE "https://api.example.com/v1/admin/background-jobs/question_generation_20241221120000_1_12345"           -H "X-Admin-Token: your-admin-token"
    ///
    ///     # Force kill
    ///     curl -X DELETE "https://api.example.com/v1/admin/background-jobs/question_generation_20241221120000_1_12345?force=true"           -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `DELETE /v1/admin/background-jobs/{job_id}`.
    /// - Remark: Generated from `#/paths//v1/admin/background-jobs/{job_id}/delete(terminate_background_job_v1_admin_background_jobs__job_id__delete)`.
    public func terminateBackgroundJobV1AdminBackgroundJobsJobIdDelete(_ input: Operations.TerminateBackgroundJobV1AdminBackgroundJobsJobIdDelete.Input) async throws -> Operations.TerminateBackgroundJobV1AdminBackgroundJobsJobIdDelete.Output {
        try await client.send(
            input: input,
            forOperation: Operations.TerminateBackgroundJobV1AdminBackgroundJobsJobIdDelete.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/background-jobs/{}",
                    parameters: [
                        input.path.jobId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .delete
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "force",
                    value: input.query.force
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TerminateBackgroundJobV1AdminBackgroundJobsJobIdDelete.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            OpenAPIRuntime.OpenAPIValueContainer.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TerminateBackgroundJobV1AdminBackgroundJobsJobIdDelete.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Calibration Status
    ///
    /// Get IRT calibration readiness dashboard with comprehensive metrics.
    ///
    /// Returns detailed calibration statistics to help monitor progress toward
    /// IRT parameter estimation. Tracks response counts per item, per-domain
    /// aggregates, and progress toward the 500-test threshold.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// **Calibration Requirements:**
    /// - **Per-item threshold**: >= 50 responses (configurable via query param)
    /// - **Target tests**: 500 completed test sessions for stable IRT parameters
    /// - **Domain coverage**: All question types should have sufficient data
    ///
    /// **Response Count Buckets:**
    /// - `0`: Items with no responses yet
    /// - `1-9`: Very low response count
    /// - `10-24`: Low response count
    /// - `25-49`: Approaching threshold
    /// - `50-99`: Ready for calibration
    /// - `100+`: Well-calibrated
    ///
    /// **Readiness Levels:**
    /// - `ready`: >= 80% of items ready for calibration
    /// - `approaching`: >= 40% of items ready for calibration
    /// - `not_ready`: < 40% of items ready for calibration
    ///
    /// Args:
    ///     min_responses_threshold: Minimum responses per item for calibration readiness
    ///     db: Database session
    ///     _: Admin token validation dependency
    ///
    /// Returns:
    ///     CalibrationMonitoringResponse with complete calibration dashboard
    ///
    /// Example:
    ///     ```
    ///     curl "https://api.example.com/v1/admin/calibration-status" \\
    ///       -H "X-Admin-Token: your-admin-token"
    ///
    ///     # Use custom threshold
    ///     curl "https://api.example.com/v1/admin/calibration-status?min_responses_threshold=100" \\
    ///       -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `GET /v1/admin/calibration-status`.
    /// - Remark: Generated from `#/paths//v1/admin/calibration-status/get(get_calibration_status_v1_admin_calibration_status_get)`.
    public func getCalibrationStatusV1AdminCalibrationStatusGet(_ input: Operations.GetCalibrationStatusV1AdminCalibrationStatusGet.Input) async throws -> Operations.GetCalibrationStatusV1AdminCalibrationStatusGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetCalibrationStatusV1AdminCalibrationStatusGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/calibration-status",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setQueryItemAsURI(
                    in: &request,
                    style: .form,
                    explode: true,
                    name: "min_responses_threshold",
                    value: input.query.minResponsesThreshold
                )
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetCalibrationStatusV1AdminCalibrationStatusGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.CalibrationMonitoringResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetCalibrationStatusV1AdminCalibrationStatusGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Trigger Calibration
    ///
    /// Trigger an IRT calibration run. Only one can run at a time.
    ///
    /// - Remark: HTTP `POST /v1/admin/calibration/run`.
    /// - Remark: Generated from `#/paths//v1/admin/calibration/run/post(trigger_calibration_v1_admin_calibration_run_post)`.
    public func triggerCalibrationV1AdminCalibrationRunPost(_ input: Operations.TriggerCalibrationV1AdminCalibrationRunPost.Input) async throws -> Operations.TriggerCalibrationV1AdminCalibrationRunPost.Output {
        try await client.send(
            input: input,
            forOperation: Operations.TriggerCalibrationV1AdminCalibrationRunPost.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/calibration/run",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case .none:
                    body = nil
                case let .json(value):
                    body = try converter.setOptionalRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TriggerCalibrationV1AdminCalibrationRunPost.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.TriggerCalibrationResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.TriggerCalibrationV1AdminCalibrationRunPost.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Calibration Status
    ///
    /// Get status of a calibration job.
    ///
    /// - Remark: HTTP `GET /v1/admin/calibration/status/{job_id}`.
    /// - Remark: Generated from `#/paths//v1/admin/calibration/status/{job_id}/get(get_calibration_status_v1_admin_calibration_status__job_id__get)`.
    public func getCalibrationStatusV1AdminCalibrationStatusJobIdGet(_ input: Operations.GetCalibrationStatusV1AdminCalibrationStatusJobIdGet.Input) async throws -> Operations.GetCalibrationStatusV1AdminCalibrationStatusJobIdGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetCalibrationStatusV1AdminCalibrationStatusJobIdGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/calibration/status/{}",
                    parameters: [
                        input.path.jobId
                    ]
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetCalibrationStatusV1AdminCalibrationStatusJobIdGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.CalibrationJobProgress.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetCalibrationStatusV1AdminCalibrationStatusJobIdGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Cat Readiness
    ///
    /// Get current CAT readiness status from SystemConfig.
    ///
    /// Returns the most recently persisted readiness evaluation result.
    /// This is a cheap read from the system_config table — no computation.
    ///
    /// Requires X-Admin-Token header.
    ///
    /// Example:
    ///     ```
    ///     curl "https://api.example.com/v1/admin/cat-readiness" \
    ///       -H "X-Admin-Token: token"
    ///     ```
    ///
    /// - Remark: HTTP `GET /v1/admin/cat-readiness`.
    /// - Remark: Generated from `#/paths//v1/admin/cat-readiness/get(get_cat_readiness_v1_admin_cat_readiness_get)`.
    public func getCatReadinessV1AdminCatReadinessGet(_ input: Operations.GetCatReadinessV1AdminCatReadinessGet.Input) async throws -> Operations.GetCatReadinessV1AdminCatReadinessGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetCatReadinessV1AdminCatReadinessGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/cat-readiness",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetCatReadinessV1AdminCatReadinessGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.CATReadinessResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetCatReadinessV1AdminCatReadinessGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Evaluate Readiness
    ///
    /// Run CAT readiness evaluation and persist result.
    ///
    /// Queries the question bank to evaluate IRT calibration readiness across
    /// all 6 domains. Enables or disables CAT based on whether all domains
    /// meet thresholds. The result is persisted to SystemConfig.
    ///
    /// Requires X-Admin-Token header.
    ///
    /// Example:
    ///     ```
    ///     curl -X POST "https://api.example.com/v1/admin/cat-readiness/evaluate" \
    ///       -H "X-Admin-Token: token"
    ///     ```
    ///
    /// - Remark: HTTP `POST /v1/admin/cat-readiness/evaluate`.
    /// - Remark: Generated from `#/paths//v1/admin/cat-readiness/evaluate/post(evaluate_readiness_v1_admin_cat_readiness_evaluate_post)`.
    public func evaluateReadinessV1AdminCatReadinessEvaluatePost(_ input: Operations.EvaluateReadinessV1AdminCatReadinessEvaluatePost.Input) async throws -> Operations.EvaluateReadinessV1AdminCatReadinessEvaluatePost.Output {
        try await client.send(
            input: input,
            forOperation: Operations.EvaluateReadinessV1AdminCatReadinessEvaluatePost.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/cat-readiness/evaluate",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.EvaluateReadinessV1AdminCatReadinessEvaluatePost.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.CATReadinessResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.EvaluateReadinessV1AdminCatReadinessEvaluatePost.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Domain Weights Config
    ///
    /// Get the current domain weights configuration.
    ///
    /// Returns the configured domain weights used for weighted scoring calculations.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Returns:
    ///     DomainWeightsResponse with weights, or None if not configured
    ///
    /// Example:
    ///     ```
    ///     curl "https://api.example.com/v1/admin/config/domain-weights" \
    ///       -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `GET /v1/admin/config/domain-weights`.
    /// - Remark: Generated from `#/paths//v1/admin/config/domain-weights/get(get_domain_weights_config_v1_admin_config_domain_weights_get)`.
    public func getDomainWeightsConfigV1AdminConfigDomainWeightsGet(_ input: Operations.GetDomainWeightsConfigV1AdminConfigDomainWeightsGet.Input) async throws -> Operations.GetDomainWeightsConfigV1AdminConfigDomainWeightsGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetDomainWeightsConfigV1AdminConfigDomainWeightsGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/config/domain-weights",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetDomainWeightsConfigV1AdminConfigDomainWeightsGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Operations.GetDomainWeightsConfigV1AdminConfigDomainWeightsGet.Output.Ok.Body.JsonPayload?.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetDomainWeightsConfigV1AdminConfigDomainWeightsGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Set Domain Weights Config
    ///
    /// Set the domain weights for weighted scoring.
    ///
    /// Domain weights determine how much each cognitive domain contributes to the
    /// final IQ score. Weights should reflect each domain's g-loading (correlation
    /// with general intelligence).
    ///
    /// The weights should ideally sum to 1.0, but will be normalized during
    /// scoring calculations if they don't.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Args:
    ///     request: DomainWeightsRequest with weights dictionary
    ///
    /// Returns:
    ///     DomainWeightsResponse with confirmation
    ///
    /// Example:
    ///     ```
    ///     curl -X POST "https://api.example.com/v1/admin/config/domain-weights" \
    ///       -H "X-Admin-Token: your-admin-token" \
    ///       -H "Content-Type: application/json" \
    ///       -d '{"weights": {"pattern": 0.20, "logic": 0.18, "spatial": 0.16, "math": 0.17, "verbal": 0.15, "memory": 0.14}}'
    ///     ```
    ///
    /// - Remark: HTTP `POST /v1/admin/config/domain-weights`.
    /// - Remark: Generated from `#/paths//v1/admin/config/domain-weights/post(set_domain_weights_config_v1_admin_config_domain_weights_post)`.
    public func setDomainWeightsConfigV1AdminConfigDomainWeightsPost(_ input: Operations.SetDomainWeightsConfigV1AdminConfigDomainWeightsPost.Input) async throws -> Operations.SetDomainWeightsConfigV1AdminConfigDomainWeightsPost.Output {
        try await client.send(
            input: input,
            forOperation: Operations.SetDomainWeightsConfigV1AdminConfigDomainWeightsPost.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/config/domain-weights",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .post
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                let body: OpenAPIRuntime.HTTPBody?
                switch input.body {
                case let .json(value):
                    body = try converter.setRequiredRequestBodyAsJSON(
                        value,
                        headerFields: &request.headerFields,
                        contentType: "application/json; charset=utf-8"
                    )
                }
                return (request, body)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.SetDomainWeightsConfigV1AdminConfigDomainWeightsPost.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.DomainWeightsResponse.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.SetDomainWeightsConfigV1AdminConfigDomainWeightsPost.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Get Weighted Scoring Status
    ///
    /// Get the current weighted scoring configuration status.
    ///
    /// Returns whether weighted scoring is enabled and the current domain weights
    /// if configured.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Returns:
    ///     WeightedScoringStatus with enabled flag and domain weights
    ///
    /// Example:
    ///     ```
    ///     curl "https://api.example.com/v1/admin/config/weighted-scoring" \
    ///       -H "X-Admin-Token: your-admin-token"
    ///     ```
    ///
    /// - Remark: HTTP `GET /v1/admin/config/weighted-scoring`.
    /// - Remark: Generated from `#/paths//v1/admin/config/weighted-scoring/get(get_weighted_scoring_status_v1_admin_config_weighted_scoring_get)`.
    public func getWeightedScoringStatusV1AdminConfigWeightedScoringGet(_ input: Operations.GetWeightedScoringStatusV1AdminConfigWeightedScoringGet.Input) async throws -> Operations.GetWeightedScoringStatusV1AdminConfigWeightedScoringGet.Output {
        try await client.send(
            input: input,
            forOperation: Operations.GetWeightedScoringStatusV1AdminConfigWeightedScoringGet.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/config/weighted-scoring",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
                    soar_path: path,
                    method: .get
                )
                suppressMutabilityWarning(&request)
                try converter.setHeaderFieldAsURI(
                    in: &request.headerFields,
                    name: "x-admin-token",
                    value: input.headers.xAdminToken
                )
                converter.setAcceptHeader(
                    in: &request.headerFields,
                    contentTypes: input.headers.accept
                )
                return (request, nil)
            },
            deserializer: { response, responseBody in
                switch response.status.code {
                case 200:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetWeightedScoringStatusV1AdminConfigWeightedScoringGet.Output.Ok.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.WeightedScoringStatus.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .ok(.init(body: body))
                case 422:
                    let contentType = converter.extractContentTypeIfPresent(in: response.headerFields)
                    let body: Operations.GetWeightedScoringStatusV1AdminConfigWeightedScoringGet.Output.UnprocessableContent.Body
                    let chosenContentType = try converter.bestContentType(
                        received: contentType,
                        options: [
                            "application/json"
                        ]
                    )
                    switch chosenContentType {
                    case "application/json":
                        body = try await converter.getResponseBodyAsJSON(
                            Components.Schemas.HTTPValidationError.self,
                            from: responseBody,
                            transforming: { value in
                                .json(value)
                            }
                        )
                    default:
                        preconditionFailure("bestContentType chose an invalid content type.")
                    }
                    return .unprocessableContent(.init(body: body))
                default:
                    return .undocumented(
                        statusCode: response.status.code,
                        .init(
                            headerFields: response.headerFields,
                            body: responseBody
                        )
                    )
                }
            }
        )
    }
    /// Toggle Weighted Scoring
    ///
    /// Enable or disable weighted scoring.
    ///
    /// When enabled, IQ scores are calculated using domain weights that reflect
    /// each domain's correlation with general intelligence (g-loading). When
    /// disabled, all domains are weighted equally.
    ///
    /// Requires X-Admin-Token header with valid admin token.
    ///
    /// Args:
    ///     request: WeightedScoringToggleRequest with enabled flag
    ///
    /// Returns:
    ///     WeightedScoringToggleResponse with new status and confirmation message
    ///
    /// Example:
    ///     ```
    ///     curl -X POST "https://api.example.com/v1/admin/config/weighted-scoring" \
    ///       -H "X-Admin-Token: your-admin-token" \
    ///       -H "Content-Type: application/json" \
    ///       -d '{"enabled": true}'
    ///     ```
    ///
    /// - Remark: HTTP `POST /v1/admin/config/weighted-scoring`.
    /// - Remark: Generated from `#/paths//v1/admin/config/weighted-scoring/post(toggle_weighted_scoring_v1_admin_config_weighted_scoring_post)`.
    public func toggleWeightedScoringV1AdminConfigWeightedScoringPost(_ input: Operations.ToggleWeightedScoringV1AdminConfigWeightedScoringPost.Input) async throws -> Operations.ToggleWeightedScoringV1AdminConfigWeightedScoringPost.Output {
        try await client.send(
            input: input,
            forOperation: Operations.ToggleWeightedScoringV1AdminConfigWeightedScoringPost.id,
            serializer: { input in
                let path = try converter.renderedPath(
                    template: "/v1/admin/config/weighted-scoring",
                    parameters: []
                )
                var request: HTTPTypes.HTTPRequest = .init(
[...]
